# Ignore node_modules directory
node_modules

# Ignore .next directory
.next

# Ignore .env files
.env*

# Ignore logs
logs
*.log
npm-debug.log*

# Ignore the build output directory
dist

# Ignore system files
.DS_Store
Thumbs.db

.github
.vscode
.husky
.devcontainer
demos
