{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
  ],
  "rules": {
    "import/no-cycle": "error",
    "no-use-before-define": "error",
    "max-lines-per-function": "warn",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "varsIgnorePattern": "^_",
        "args": "none",
        "caughtErrors": "none",
        "ignoreRestSiblings": true
      }
    ],
    "@typescript-eslint/ban-ts-comment": "warn",
    "react/prop-types": "off"
  }
}